{% extends "main.html" %}

{% block title %}Főoldal{% endblock %}

{% block content %}
    <div class="contentdiv">
        <h1>Üdvözöllek!</h1>
        <p>A [Cég Neve] világában, ahol az innováció és a technológia találkozik a kreativitással. Vezető szerepet töltünk be az informatikai megoldások terén, miközben a jövő kihívásaira fókuszálunk.
            <br>Nem csak kódolunk, hanem művészetet teremtünk a digitális térben. Az összetett kihívásokat új megközelítéssel közelítjük meg, és az alkotói gondolkodás hajt minket.
            <br>Partnereinkkel szorosan együttműködve olyan egyedi, üzleti igényekre szabott megoldásokat hozunk létre, amelyek valóban a cégüket és a projekteiket szolgálják.
        </p>
        <button>Kezdj bele!</button>
    </div>

    <div class="logodiv">
        <svg class="abstract-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
            <circle cx="100" cy="100" r="80" stroke="#e44d26" stroke-width="4" fill="transparent" />
            <rect x="40" y="40" width="120" height="120" stroke="#e44d26" stroke-width="4" fill="transparent" />
            <line x1="10" y1="100" x2="190" y2="100" stroke="#e44d26" stroke-width="4" />
        </svg>
    </div>
    {% if messages %}
        {% for message in messages %}
            <script>
                window.onload = function() {
                    alert("{{ message }}");
                };
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}
