{% extends "main.html" %}

{% block title %}Főoldal{% endblock %}

{% block content %}
    <h1>Főoldal</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis culpa, quod maiores architecto provident quae sequi eum explicabo minima, quis cupiditate tempora. Eum aperiam voluptates laudantium neque sequi cumque rem!
    Quia, totam eos natus voluptatem architecto dolores illo. Sunt repudiandae magnam eveniet similique ab vitae, assumenda quod voluptas labore explicabo veniam hic possimus tenetur dolores quasi, quo totam. Sapiente, sunt.
    Aut adipisci ipsum nulla tenetur esse, sint molestias repellat recusandae quo totam, cupiditate quis temporibus eveniet quod corrupti sapiente explicabo incidunt doloribus veniam harum? Quidem, optio voluptatem. Inventore, mollitia nam.
    Minima sunt placeat omnis perferendis culpa, ea aperiam voluptatum dolore fuga sit optio. Repellat illo, beatae velit veritatis suscipit a consequatur, nisi reiciendis laudantium porro ut reprehenderit nemo numquam rem.
    Debitis corporis ea nesciunt repudiandae illum consequuntur aut nisi voluptatum, reprehenderit architecto iste libero vitae, eos ipsum? Magnam molestias praesentium exercitationem nulla nemo! Deleniti cupiditate odio quae sint temporibus corporis?
    Magni voluptate assumenda commodi. Officiis reprehenderit debitis, libero cupiditate provident ut totam, autem inventore et explicabo vero temporibus? Atque dolorem architecto optio necessitatibus quod quia autem aut vero ea nulla!
    Ratione similique error facilis recusandae rem! Deleniti perspiciatis, adipisci natus modi fugiat error at praesentium omnis sequi aspernatur quisquam veritatis sunt vel unde autem quaerat repellat recusandae. Adipisci, iure. Iste?
    Quia similique voluptatem voluptas porro veritatis, alias laudantium expedita eveniet dignissimos dicta repellendus adipisci quam enim necessitatibus neque accusamus? Nihil tempora tenetur excepturi, accusamus beatae veniam quaerat esse debitis fugit!
    Earum, suscipit deleniti saepe maiores ipsam quaerat dolorum quo nam maxime, iusto reiciendis recusandae iste totam exercitationem! Reprehenderit necessitatibus nulla magni laboriosam molestias dolore temporibus suscipit obcaecati? Alias, id totam?
    Iste voluptatem beatae eveniet possimus accusantium laborum neque maxime atque facere tempore dolores doloribus perferendis ab reiciendis voluptatibus quibusdam, quidem rem officia? Sed sit suscipit magnam, voluptas incidunt dolores vitae.</p>
{% endblock %}