{% extends "main.html" %}

{% block title %}Főoldal{% endblock %}

{% block content %}
    <h1>Üdvözöljük az oldalon - Főoldal</h1>
    <hr>
    <div class="card">
        <div class="szoveg">
            <h2><u>Magunkról</u></h2><p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, minima! </p>
        </div>
    </div>

    <div class="card">
        <div class="szoveg">
            <h2>A <u>dokumentáció felület</u></h2><p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores, sapiente.</p>
        </div>
        <div class="gomb">
            <a href="{% url 'documentation' %}"><button>Nézze meg a dokumentáció felületet most!</button></a>
        </div>
    </div>

    <div class="card">
        <div class="szoveg">
            <h2>A <u>Trello felület</u></h2><p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui, eum?</p>
        </div>
        <div class="gomb">
            <a href="{% url 'trello_cards' %}"><button>Nézze meg a trello felületet most!</button></a>
        </div>
    </div>

    <div class="card">
        <div class="szoveg">
            <h2>A <u>kód felület</u></h2><p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, itaque.</p>
        </div>
        <div class="gomb">
            <a href="{% url 'code' %}"><button>Nézze meg a kód felületet most!</button></a>
        </div>
    </div>

    <div class="card">
        <div class="szoveg">
            <h2>A <u>profil felület</u></h2><p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, pariatur? </p>
        </div>
        <div class="gomb">
            <a href="{% url 'profile' %}"><button>Módosítsa most könnyedén adatait biztonságban!</button></a>
        </div>
    </div>
{% endblock %}
