<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Bejelentkezés</title>

    <style>
        /* Felugró ablak stílusai */
        .popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            z-index: 9999;
        }
    </style>
</head>
<body>
    {% if error_message %}
    <div class="popup" id="popup">
        <p>{{ error_message }}</p>
        <button onclick="closePopup()">Bezárás</button>
    </div>
    <script>
        function closePopup() {
            var popup = document.getElementById('popup');
            popup.style.display = 'none';
        }

        window.onload = function () {
            var popup = document.getElementById('popup');
            if (popup) {
                popup.style.display = 'block';
            }
        };
    </script>
    {% endif %}

    <h2>Bejelentkezés</h2>
    <form action="/login/" method="post">
        {% csrf_token %}
        <label for="username">Felhasználónév:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Jelszó:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Bejelentkezés">
    </form>
</body>
</html>
